<?xml version="1.0"?>
<robot name="wsg50" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="real_hardware" default="false"/>
    <xacro:arg name="sim_standalone" default="true"/>
    <!-- Import wsg50 macro -->
    <xacro:include filename="$(find wsg_50_simulation)/urdf/wsg_50.urdf.xacro" />
  
    <link name="base_link"/>

    <xacro:wsg_50_xacro prefix="wsg50" parent="base_link" finger_length="0.023" finger_tip="0.0" sim_standalone="$(arg sim_standalone)" real_hardware="$(arg real_hardware)" finger_type="soft">
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
    </xacro:wsg_50_xacro>

</robot>